<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
        <models>
            <demo1>
                <class>TutsPlus_Demo1_Model</class>
            </demo1>
        </models>
   

    <blocks>
        <demo1>
            <class>TutsPlus_Demo1_Block</class>
        </demo1>
    </blocks>
<!--
    <helpers>
         <demo1>
            <class>TutsPlus_Demo1_Helper</class>
        </demo1>
    </helpers>
    <events>
        <customer_login>
            <observers>
                <demo1>
                    <type>model</type>
                    <class>demo1/observer</class>
                    <method>logCustomer</method>
                </demo1>
            </observers>
        </customer_login>
    </events>-->
    <!-- Default configuration -->
   </global>
   <routers>
     <routeurfrontend>
            <tutsplus_demo1>
                <use>standart</use>
                <args>
                    <module>TutsPlus_Demo1</module>
                    <frontName>demo1</frontName>
                </args>
            </tutsplus_demo1>
  
           </routeurfrontend>
          </routers>
</config>
