<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
        <models>
            <demo>
                <class>TutsPlus_Demo_Model</class>
            </demo>
        </models>
   

    <blocks>
        <demo>
            <class>TutsPlus_Demo_Block</class>
        </demo>
    </blocks>

    <helpers>
         <demo>
            <class>TutsPlus_Demo_Helper</class>
        </demo>
    </helpers>
    <events>
        <customer_login>
            <observers>
                <demo>
                    <type>model</type>
                    <class>demo/observer</class>
                    <method>logCustomer</method>
                </demo>
            </observers>
        </customer_login>
    </events>
    <!-- Default configuration -->
   </global>
    <frontend>
        <routers>
            <tutsplus_demo>
                <use>standart</use>
                <args>
                    <module>TutsPlus_Demo</module>
                    <frontName>demo</frontName>
                </args>
            </tutsplus_demo>
        </routers>
    </frontend>
</config>
