<config>
    <modules>
        <TutsPlus_Demo>
             <version>0.1.0</version>
        </TutsPlus_Demo>
    </modules>
    <global>
        <models>
            <demo>
                <class>TutsPlus_Demo_Model</class>
            </demo>
        </models>
   <!-- <blocks>
        <demo>
            <class>TutsPlus_Demo_Block</class>
        </demo>
    </blocks>
    <helpers>
         <demo>
            <class>TutsPlus_Demo_Helper</class>
        </demo>
    </helpers>
    <events>
        <customer_login>
            <observers>
                <demo>
                    <type>model</type>
                    <class>demo/observer</class>
                    <method>logCustomer</method>
                </demo>
            </observers>
        </customer_login>
    </events>-->
    <!-- Default configuration -->
   </global>
    <frontend>
        <routers>
            <demo>
                <use>standart</use>
                <args>
                    <module>TutsPlus_Demo</module>
                    <frontName>demo</frontName>
                </args>
            </demo>
        </routers>
    </frontend>
</config>
