<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <carriers translate="label" module="shipping">
            <groups>
                <smashingmagazine_mycarrier translate="label">
                    <label>Custom Delivery Method</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <!--
                            The following fields are available
                            to modify in the admin panel.
                            The values are saved in the
                            database.

                            This shipping carrier abstract checks
                            this value to determine whether
                            the carrier should be shown.
                        -->
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <!--
                            This value can be used to specify a
                            custom title for our method.
                        -->
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>

                        <!--
                            The sort order is used in Magento
                            to determine what order the carrier
                            will appear in relative to the
                            other carriers available.
                        -->
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        <!--
                            This value is used to specify whether
                            the carrier is available only for
                            specific countries or all countries
                            available in the current Magento
                            installation.
                        -->
                        <price translate="label">
                            <label>Price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </price>

                        
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sallowspecific>
                        <!--
                            If 'specific countries' is chosen
                            in the previous option, then this field
                            allows the administrator to specify
                            which specific countries this carrier
                            should be available for.
                        -->                   
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>91</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <express_weight_threshold translate="label">
                            <label>Express Weight Threshold</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </express_weight_threshold>
                        </fields>
                       <fields>
                          <calendarlabel translate="label">
                            <label>Calendar of Delivery</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </calendarlabel>
                        
                           <monday translate="label">
                            <label>Monday</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                           </monday>
                                          <monday_t_01 translate="label">
                                            <label>01:00</label>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>21</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                         <depends><monday>1</monday></depends>  
                                        </monday_t_01>
                                        <monday_p_01 translate="label">
                                            <comment>Price of delivery, $</comment>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>22</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                         <depends><monday_t_01>1</monday_t_01></depends>  
                                        </monday_p_01>
                                         <monday_t_02 translate="label">
                                            <label>02:00</label>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>23</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                         <depends><monday>1</monday></depends>  
                                        </monday_t_02>
                                        <monday_p_02 translate="label">
                                            <comment>Price of delivery, $</comment>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>24</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                         <depends><monday_t_02>1</monday_t_02></depends>  
                                        </monday_p_02>
                                         <monday_t_03 translate="label">
                                            <label>03:00</label>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>25</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                         <depends><monday>1</monday></depends>  
                                        </monday_t_03>
                                        <monday_p_03 translate="label">
                                            <comment>Price of delivery, $</comment>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>24</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                         <depends><monday_t_03>1</monday_t_03></depends>  
                                        </monday_p_03>
                        <tuesday translate="label">
                             <label>Tuesday</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tuesday>   
                                         <tuesday_t_01 translate="label">
                                             <label>01:00</label>
                                             <frontend_type>select</frontend_type>
                                             <source_model>adminhtml/system_config_source_yesno</source_model>
                                             <sort_order>61</sort_order>
                                             <show_in_default>1</show_in_default>
                                             <show_in_website>1</show_in_website>
                                             <show_in_store>1</show_in_store>
                                             <depends><tuesday>1</tuesday></depends>  
                                         </tuesday_t_01>
                                         <tuesday_p_01 translate="label">
                                              <comment>Price of delivery, $</comment>
                                              <frontend_type>text</frontend_type>
                                              <sort_order>62</sort_order>
                                              <show_in_default>1</show_in_default>
                                              <show_in_website>1</show_in_website>
                                              <show_in_store>1</show_in_store>
                                              <depends><tuesday_t_01>1</tuesday_t_01></depends>  
                                          </tuesday_p_01>
                                          <tuesday_t_02 translate="label">
                                             <label>02:00</label>
                                             <frontend_type>select</frontend_type>
                                             <source_model>adminhtml/system_config_source_yesno</source_model>
                                             <sort_order>63</sort_order>
                                             <show_in_default>1</show_in_default>
                                             <show_in_website>1</show_in_website>
                                             <show_in_store>1</show_in_store>
                                             <depends><tuesday>1</tuesday></depends>  
                                         </tuesday_t_01>
                                         <tuesday_p_01 translate="label">
                                              <comment>Price of delivery, $</comment>
                                              <frontend_type>text</frontend_type>
                                              <sort_order>64</sort_order>
                                              <show_in_default>1</show_in_default>
                                              <show_in_website>1</show_in_website>
                                              <show_in_store>1</show_in_store>
                                              <depends><tuesday_t_01>1</tuesday_t_01></depends>  
                                          </tuesday_p_01>
                            
                                 
                          
                    </fields>
                </smashingmagazine_mycarrier>
            </groups>
        </carriers>
    </sections>
</config>